@mixin clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  @mixin respond-to($media) {
    @if $media == mobile {
      @media (max-width: $breakpoint-mobile) {
        @content;
      }
    }
  }